<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>
  </div>
  <table datatable [dtOptions]="dtOptions" class="table-border hover">
    <thead>
      <tr>
        <th>Position Number</th>
        <th>Position Title</th>
        <th>Position Descripton</th>
      </tr>
    </thead>
    <tbody *ngIf="persons?.length != 0">
      <tr *ngFor="let person of persons">
        <td>{{ person.positionNumber }}</td>
        <td>{{ person.positionTitle }}</td>
        <td>{{ person.positionDescription }}</td>
      </tr>
    </tbody>
    <tbody *ngIf="persons?.length == 0">
      <tr>
        <td colspan="3" class="no-data-available">No data!</td>
      </tr>
    </tbody>
  </table>
</div>
